@charset "UTF-8";

.botao{
	text-align: right; 
	padding: 5px;
}

 .box,
    .sample-layout > div {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 4px;
    }
 
    .box-stretched {
        height: 100%;
    }
 
    .sample-layout {
        margin: 0;
    }
 
    .sample-layout > div {
        border: 1px solid #ffffff;
    }
 
    .vertical-container {
        margin: 0;
        height: 200px;
        border-radius: 4px;
    }
 
    .nested-grid .p-col-4 {
        padding-bottom: 1em;
    }

.rodape{
	border-top: 1px solid #808080; 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	text-align: right;
}